.chat-room-container {
    flex: 1;
    min-width: 0;
    min-height: 0;
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px 50px;
    margin-bottom: 40px;
    box-sizing: border-box;
    border-bottom: 1px solid;

}

.chat-room-container .client{
    display: flex;
    min-width: 0;
    height: min-content;
    width: 70%;
    flex-direction: column;
    justify-content: space-between;
    align-self: flex-end;
    align-items: end;
    text-align: center;
    gap: 15px;
    border: 2px solid blue;
    border-radius: 15px;
    padding: 5px 15px 20px;
    line-height: 30px;
    background: #001D6C;
    backdrop-filter: blur(15px);
    overflow-wrap: anywhere;
    text-wrap: pretty;
    color: white;
    font-weight: 500;
    font-size: 17;
    position: relative;

}

.chat-room-container .client-time{
    display: flex;
    font-size: small;
    font-weight: 500;
    color: greenyellow;
    padding-bottom: 1px;
    position: absolute;
    bottom: -10px;
    right: 15px;
}


.chat-room-container .server {
    min-width: 0;
    min-height: 0;
    width: 70%;
    padding: 10px;
    padding-inline-end: 30px;
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-self: flex-start;
    align-items: start;
    text-align: start;
    color: white;
    font-weight: 500;
    font-size: 17;
    line-height: 28px;
    overflow-wrap: anywhere;
    word-break: break-all;
    text-wrap: pretty;
    border-top: 1px solid;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    position: relative;
}

.chat-room-container .server-time{
    display: flex;
    font-size: small;
    font-weight: 500;
    color: greenyellow;
    margin: px;
    position: absolute;
    left: 15px;
    top: -5px;
}

.chat-room-container .thinking{
    font-size: 20px;
    font-weight: 700;
    color: rgb(158, 212, 48);

}
