.chat-container .transporter-container{
  flex-shrink: 0;
  min-width: 0;
  min-height: 0;
  width: 90%;
  border: 2px solid;
  border-style: groove;
  border-radius: 15px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  background: #001D6C;
  box-shadow: 0px 1px 0px 1px lightgray;
  box-sizing: border-box;
}

.transporter-container form{
  min-width: 0;
  min-height: 0;
  padding: 15px;
  border-radius: 15px;
  background: transparent;
  backdrop-filter: blur(10px);
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}
.transporter-container input{
  flex-shrink: 0;
  min-width: 0;
  min-height: 0;
  width: 90%;
  line-height: 28px;
  color: white;
  font-weight: 500;
  font-size: 16px;
  font-style: italic;
  overflow-wrap: break-word;
  text-wrap: pretty;
  background: rgba(87, 63, 63, 0.505);
  border: 2px solid green;
  display: flex;
  padding-inline: 10px;
  padding-block: 5px;

}

.transporter-container form .send-btn{
    flex: 1;
    min-width: 0;
    min-height: 0;
    border: 2px solid;
    background: rgba(30, 21, 21, 0.514);
}

.transporter-container form .send-btn:hover{
  background: green;
  border-color: lightgreen;
  
}

.transporter-container form .spinner-border{
  border-color: green;
}