.layout-container .user-state{
  width: 100%;
  height: fit-content;
  display: flex;
  padding-block: 20px;
  align-items: center;
  padding-inline: 30px;
  gap: 20px;
  border-bottom: 2px solid;
  box-sizing: border-box;


}

.user-state span{
  min-width: fit-content;
  color: white;
  font-weight: 900;
  font-size: 200;
  font-style: italic;
  text-shadow: 2px 1px 1px gray;
  border-right: 2px solid;
  border-style: groove;
  border-radius: 5px;
  padding-inline: 10px;
  padding-block: 5px;
}


.user-state button {
  height: fit-content;
  border: 2px solid black;
  border-radius: 50px;
}

.user-state ul{
  display: contents;
}

.user-state ul li{
    display: block;    
}

.user-state ul li button{
  color: black;
  font-weight: 400;
    font-size: 15px;
    padding-inline: 10px;
}

