.layout-container .user-state-container{

  display: block; 
  width: 100%;
  height: 20%;

  position: relative;
  background: #000;
  backdrop-filter: blur(45px);
  box-sizing: border-box;
  

}

.user-state-container .user-state{
  flex: 1;
  min-width: 0;
  min-height: 0;
  display: flex;
  flex-direction: column;
  

}

.user-state span{
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 2px 3px;
  color: white;
  font-weight: 600;
  font-size: medium;
  border: 2px solid #1F7D9D;
  border-top: none;
  z-index: 1;
}

.user-state button{
  flex: 0 0 100%;
  height: 40px;
  width: 100%;
  
  display: contents;
  align-items: center;
  justify-content: center;
  color: white;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: contrast(50%);
  border: none;
}

.user-state button svg{

  display: block;
  margin: -2px auto 0;
  color: white;
  background: #062337;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  transition: all .3s ease-out;
}

.user-state button svg:hover{
  background: #1F7D9D;
}
  

.user-state-container ul {
  padding: 6px 0;
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid #1F7D9D;
  
  
}



.user-state-container ul li button{
  width: 80%;
  height: auto;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin: 5px auto 0;
  color: white;
  background: #000;
  backdrop-filter: blur(20px);


  font-weight: 400;
  font-size: medium;
  border: 2px double;
    box-shadow: 1px 0px 1px 0px inset;
    border-style: groove;
  
  transition: all .3s ease-out;

}


.user-state-container ul li button:hover{
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
  border-color: #2fbee7;
  background: linear-gradient(to right, #082134, #2FBEE7, #082134 );
}



