
.main-container{
  
  width: 100lvb;
  
  background:url('https://i.pinimg.com/736x/81/3f/47/813f47cadba77038177b1d504336bfc1.jpg');
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transform: matrix();
  
  
}
.main-container .heading {
  height: 10svh;

}

.main-container .chat-history {
  
  max-height: 85svh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  backdrop-filter: blur(15px);
  overflow-wrap: break-word;
  
  overflow-y: scroll;
  text-align: start;
  

}
.main-container .chat-history li{
  margin: 5px 0px;
  text-wrap: pretty;
}
.font-style {
  color: white;
  font-weight: bold;
  font-style: oblique;
  font-size: 13px;
  text-shadow: 2px 1px 2px black;
}
.absolute-time {
    position: absolute;
    top: -21px;
  padding-top: 5px;
  }
.main-container .chat-history .user{
  background: #FFFFFF25;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-right: 2px solid #FFFFFF25;
  box-shadow: 1px 1px 0px 0px #FFFFFF75;
  backdrop-filter: blur(5px);
  border-radius: 50px;
  margin-right: 10px;
  padding: 15px;
  max-width: 70svw;
}
.font-style-user {
  color: white;
  font-weight: bold;
  font-style: oblique;
  font-size: 15px;
  text-shadow: 2px 1px 2px black;
}
.main-container .chat-history .assistant {
  display: block;
  list-style-type: none;
  backdrop-filter: blur(5px);
  padding: 15px;
  margin-left: 10px;
  margin-right: 100px;
  border-left: 5px double lightseagreen;
  border-radius: 15px;
  

}

.font-style-assistant{
  color: lightseagreen;
  font-weight: bold;
  font-style: oblique;
  font-size: 15px;
  block-size: revert;
  text-shadow: 2px 1px 2px black;
}



.main-container form {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 10px auto;
  padding: 10px;
  box-sizing: border-box;
  
  background: #FFFFFF25;
  border: 3px double #FFFFFF75;
  border-top-width: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  overflow-wrap:break-word;
  
  
}
.main-container form p{
  color: #FFFFFF75;
  font-weight: bold;
  font-style: oblique;
  font-size: 20px;
  text-shadow: 2px 1px 2px black;
  height: 50px;
}
form input {
  width: 400px;
  padding: 5px;
  border: 1px s4lid transparent;
  border-left: 4px solid #FFFFFF25 ;
  border-right:4px solid #FFFFFF25 ;
  box-shadow: 0px 2px 1px 2px black inset;
  background:local;
  backdrop-filter: blur(150px);
  color: white;
  font-weight: bold;
  font-style: oblique;
  font-size: 15px;
  text-shadow: 2px 1px 2px black;
  min-height: 10svh;
  border-radius: 15px;
  text-wrap: balance;
  overflow-x: scroll;
  
}
form button{
  background: transparent;
  border-right: 3px solid #FFFFFF75;
  border-bottom-right-radius: 15px;
  border-radius: 10px;
  border-top: 2px solid #FFFFFF25;
  border-bottom: 2px solid #FFFFFF25;
  padding: 5px 10px;
  color: white;
  font-weight: bold;
  font-style: oblique;
  backdrop-filter: blur(20px);
  
  text-shadow: 2px 1px 2px black;
}

::-webkit-scrollbar{
  border: none;
  width: 0;
}